:root {
	--primario: #013E6A;
	--secundario: #000;
}

body {
	font-family: 'Quicksand', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	background-image: url('https://images.unsplash.com/photo-1564810796095-ac4435ec654e?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-size: cover; /* Escala la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la pantalla */
}

.content_oscuro {
    display: none; /* Inicia oculto */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.664); /* Fondo oscuro */
    align-items: center;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.4s ease; /* Transición suave */
    z-index: 1000;
}

.content_oscuro.show {
    display: grid;
    align-content: center;
    opacity: 1; /* Hacerlo visible */
}


.formulario_uno, .formulario_dos, .formulario_tres {
    display: none; /* Ocultar formularios por defecto */

    #descripcion{
        resize: none;
        height: 100px;
        line-height: 20px;
        font-size: 16px;
        width: 100%;
        border: none;
        border-radius: 5px;
        padding: 10px;
        background: #f4f8f7;
        color: var(--primario);
        font-family: 'Quicksand', sans-serif;
        border: 2px solid transparent;
        transition: .3s ease all;    
        overflow-y: scroll;
    
        /* Oculta el scrollbar en navegadores compatibles */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE y Edge */
    }

    #descripcion:focus {
        outline: none;
        border: 2px solid var(--primario);
    }

    #descripcion::-webkit-scrollbar {
        display: none; /* Chrome, Safari y Opera */
    }
}

.formulario_uno.show, .formulario_dos.show, .formulario_tres.show {
    display: grid; /* Mostrar formularios cuando tienen la clase "show" */
    align-items: center;

    
	.content_campos_iniciar_reserva {
        display: grid;
        gap: 10px;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        animation: show-modal 1.1s ease-in-out;
        margin: 0 auto;
        overflow-y: scroll;
    
        /* Oculta el scrollbar en navegadores compatibles */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE y Edge */

        .content_nombre_sala_uno{
            display: none;
        }
    }

    .content_campos_cancelar_reserva{
		display: grid;
		gap: 10px;
		height: auto;
		background-color: white;
		border-radius: 20px;
		padding: 20px;
		animation: show-modal 1.1s ease-in-out;
        margin: 0 auto;

		&.hide {
			animation: hide-modal 1.1s ease-in-out both;
		}

	}

    .content_campos_ver_reserva{
        display: grid;
		gap: 10px;
		background-color: white;
		border-radius: 20px;
		padding: 20px;
		animation: show-modal 1.1s ease-in-out;
        margin: 0 auto;
        overflow-y: scroll;
    
        /* Oculta el scrollbar en navegadores compatibles */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE y Edge */

		&.hide {
			animation: hide-modal 1.1s ease-in-out both;
		}

        .content_reservas_registradas{
            display: grid;
            justify-content: center;
            width: 100%;
            height: auto;
            background-color: transparent;

        }

        .content_ver{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
        }

        .content_nombre_sala_dos{
            display: none;
        }

        .content_consultar_reservas{
            height: 350px;
            overflow-y: scroll;
            /* Oculta el scrollbar en navegadores compatibles */
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none; /* IE y Edge */
        }

        .content_consultar_reservas::-webkit-scrollbar {
            display: none; /* Chrome, Safari y Opera */
        }
        
        /* Animación para ocultar el modal */
        .content_.content_consultar_reservas {
            animation: hide-modal 1.1s ease-in-out both;
        }
    }
}

.content_accion {
	display: grid;
	justify-items: center;
	align-content: center;
	max-width: 800px;
	overflow: hidden;
	min-height: auto;
	background-color: rgba(255, 255, 255, 0.664);
	padding: 40px;
}

.content_cerrar{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 0;
    width: 100%;
}

.content_input_codigo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .digito{
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 18px;
    }
}


@keyframes show-modal {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hide-modal {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0);
    }
}

@media (max-width: 800px) {

	.content_accion{
		width: 100%;
		height: 100vh;
		box-shadow: none;
		border-radius: 0px;
	}

	.content_input{
		display: grid;
	}

    .content_campos_iniciar_reserva{
        width: 90%;
        height: 75%;
    }

    .content_campos_cancelar_reserva{
        width: 90%;
    }

    .content_campos_ver_reserva{
        width: 90%;
        height: 95%;
    }

    .content_horarios{
        display: grid;
        gap: 10px;

        .content_horarios_uno{
            display: grid;
            width: 100%;
        }
        
        .content_horarios_dos{
            display: grid;
            width: 100%;
        }
    }

    .content_actividad_seleccionada{
        display: grid;
        gap: 10px;

        .content_actividad_seleccionada_uno{
            display: grid;
            width: 100%;
        }

        .content_actividad_seleccionada_dos{
            display: grid;
            width: 100%;
        }
    }
}


@media (min-width: 800px) {

	.content_accion{
		width: 65%;
		box-shadow: rgba(17, 12, 46, 0.582) 0px 48px 100px 0px;
		border-radius: 20px;
	}

	.content_input{
		display: flex;
        justify-content: center;
        flex-wrap: wrap; 
	}

    .content_campos_iniciar_reserva{
        width: 70%;
        height: 85%;
    }

    .content_campos_cancelar_reserva{
        width: 70%;
    }

    .content_campos_ver_reserva{
        width: 70%;
        height: 85%;
    }

    .content_horarios{
        display: flex;
        gap: 20px;

        .content_horarios_uno{
            display: grid;
            width: 100%;
        }
        
        .content_horarios_dos{
            display: grid;
            width: 100%;
        }
    }

    .content_actividad_seleccionada{
        display: flex;
        gap: 20px;

        .content_actividad_seleccionada_uno{
            display: grid;
            width: 100%;
        }

        .content_actividad_seleccionada_dos{
            display: grid;
            width: 100%;
        }
    }
}